$primary-color: #0070f3;
$mainBg: radial-gradient(73.77% 73.77% at 50% 50%, rgba(86, 204, 242, 0.76) 0%, #28B6E3 61.93%);
$lineColor: #FFFFFF;
$circleTextColor: #4F4F4F;
$titleSize: 3rem;
$timerSize: 7.5rem;
$smallSize: 1.2rem;
$circleSize: 17rem;
$circleRadius: $circleSize / 2;
$circleTextSize: $circleSize / 6;

$outlineColor: crimson;
