@use 'abstracts/theme' as theme;

.mark-div {
  outline: 2px solid theme.$outlineColor;
}

.container {
  outline-offset: -5px;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: theme.$mainBg;
}

.resting {
  background: theme.$restingBg;
}

.flexCenterColumn {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  color: theme.$lineColor;
  text-transform: uppercase;
  justify-content: space-evenly;

  .title {
    font-size: theme.$titleSize;
    flex-basis: 20rem;
  }

  .countdown {
    flex-basis: 15rem;
    font-size: theme.$timerSize;
    flex-direction: row;
  }

  .separator {
    //animation: pulse 1s infinite;
  }

  .rounded {
    width: theme.$circleSize;
    height: theme.$circleSize;
    border-radius: theme.$circleRadius;
    background: theme.$lineColor;
    color: theme.$circleTextColor;
    font-size: theme.$circleTextSize;
    cursor: pointer;

    &:hover {

    }

    &:focus {

    }
  }
}



@media (max-width: 600px) {

}

@keyframes pulse {
  from { visibility: visible; }
  to   { visibility: hidden; }
}
